<div class="row" id="yeast-form">
  <div class="weisse">
    <div class="row">
    <%= form_for [@recipe, @list] do |f| %>
      <h5>Weisse</h5>
      <div class="small-8 columns">
      <%= f.collection_select :ingredient_id, Ingredient.where(sub_type:"Weisse"), :id, :name, include_blank: "Select" %>
      </div>
      <div class="small-2 columns">
      <%= f.submit "Submit", class: "button tiny radius" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="lager">
    <div class="row">
      <%= form_for [@recipe, @list] do |f| %>
      <h5>Lager</h5>
      <div class="small-8 columns">
        <%= f.collection_select :ingredient_id, Ingredient.where(sub_type:"Lager"), :id, :name, include_blank: "Select" %>
      </div>
      <div class="small-2 columns">
        <%= f.submit "Submit", class: "button tiny radius" %>
      </div>
    <% end %>

    </div>
  </div>
  <div class="ale">
    <div class="row">
      <%= form_for [@recipe, @list] do |f| %>
      <h5>Ale</h5>
      <div class="small-8 columns">
        <%= f.collection_select :ingredient_id, Ingredient.where(sub_type:"Ale"), :id, :name, include_blank: "Select" %>
      </div>
      <div class="small-2 columns">
        <%= f.submit "Submit", class: "button tiny radius" %>
      </div>
    <% end %>

    </div>
  </div>
  <div class="belgian">
    <div class="row">
      <%= form_for [@recipe, @list] do |f| %>
      <h5>Belgian Ale</h5>
      <div class="small-8 columns">
        <%= f.collection_select :ingredient_id, Ingredient.where(sub_type:"Belgian Ale"), :id, :name, include_blank: "Select" %>
      </div>
      <div class="small-2 columns">
        <%= f.submit "Submit", class: "button tiny radius" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="sour">
    <div class="row">
    <%= form_for [@recipe, @list] do |f| %>
      <h5>Sour</h5>
      <div class="small-8 columns">
        <%= f.collection_select :ingredient_id, Ingredient.where(sub_type:"Sour"), :id, :name, include_blank: "Select" %>
      </div>
      <div class="small-2 columns">
        <%= f.submit "Submit", class: "button tiny radius" %>
      </div>
    <% end %>
    </div>
  </div>
</div>