
<div class="row">
  <div class="large-2 column not-home-page side-bar">
    <ul class="side-nav">
      <li id="vital-stats"><h4>Vital Statistics</h4></li>
      <li>Size: <%= @recipe.batch_size %> Gallons</li>
      <li>
        OG: <%= @recipe.total_gravity.round(3) %>
      </li>
      <li>
        IBU: <%= @recipe.total_ibu.round(1) %>
      </li>
      <li>
        ABV: <%= @recipe.total_abv.round(2) %>%
      </li>
    </ul>
  </div>
  <div class="large-10 column not-home-page">
    <h2><%= @recipe.name %></h2>
    <h5>Build your recipe!</h5>
    <% if current_user %>
      <div class="instructions-body">
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation" id="grain-tab">
            <a href="#panel1a">Grains</a>
            <div id="panel1a" class="content">
              <%= render "grain_form" %>
            </div>
          </li>
          <li class="accordion-navigation" id="hop-tab">
            <a href="#panel2a">Hops</a>
            <div id="panel2a" class="content">
              <%= render "hop_form" %>
            </div>
          </li>
          <li class="accordion-navigation" id="yeast-tab">
            <a href="#panel3a">Yeast</a>
            <div id="panel3a" class="content">
              <%= render "yeast_form" %>
            </div>
          </li>
        </ul>
      </div>
      <h4>The List</h4>
      <h5>This is what your recipe currently contains:</h5>
      <ul>
        <% @recipe.lists.each do |list| %>
          <% if list.ingredient.is_a_grain? %>
            <li><%= Ingredient.find(list.ingredient_id).name %> x<%= list.amount %> lbs.
             <%= link_to "(Delete)", recipe_list_path(@recipe, list), method: :delete %>
            </li>
          <% elsif list.ingredient.is_a_hop? %>
            <li><%= Ingredient.find(list.ingredient_id).name %> x<%= list.amount %> oz.
            <%= link_to "(Delete)", recipe_list_path(list.recipe_id, list), method: :delete %>
            </li>
          <% else %>
            <li><%= Ingredient.find(list.ingredient_id).name %>
             <%= link_to "(Delete)", recipe_list_path(list.recipe_id, list), method: :delete %>
            </li> 
          <% end %>
        <% end %>
      </ul>
      <%= link_to "Done", recipes_path, class: "button radius", id: "End" %>
    <% else %>
      <h2> You must sign in to view this page! </h2>
    <% end %>
  </div>
</div>
