<div class="row">
  <%= form_for [@recipe, @list] do |f| %>
    <%= f.fields_for :ingredients do |t| %>

      <h5>Grains</h5>
      <%= t.collection_select :ingredient_id, Ingredient.where(type_class:"Grain"), :id, :name, include_blank: "Select", class: "grains" %>
       <%= t.label :amount %>
      <%= t.text_field :amount %> in pounds
    <% end %>
    <%= f.submit "Submit", class: "button radius grains" %>
  <% end %>

  <%= form_for [@recipe, @list] do |f| %>
    <%= f.fields_for :ingredients do |t| %>
      <h5>Extracts</h5>
      <%= t.collection_select :ingredient_id, Ingredient.where(type_class:"Extract"), :id, :name, include_blank: "Select" %>
       <%= t.label :amount %>
      <%= t.text_field :amount %> in pounds
      <% end %>
    <%= f.submit "Submit", class: "button radius grains" %>
  <% end %>

  <%= form_for [@recipe, @list] do |f| %>
    <%= f.fields_for :ingredients do |t| %>
      <h5>Adjuncts</h5>
      <%= t.collection_select :ingredient_id, Ingredient.where(type_class:"Adjunct"), :id, :name, include_blank: "Select" %>
       <%= t.label :amount %>
      <%= t.text_field :amount %> in pounds
      <% end %>
    <%= f.submit "Submit", class: "button radius grains" %>
  <% end %>

  <%= form_for [@recipe, @list] do |f| %>
    <%= f.fields_for :ingredients do |t| %>
      <h5>Sugars</h5>
      <%= t.collection_select :ingredient_id, Ingredient.where(type_class:"Sugar"), :id, :name, include_blank: "Select" %>
       <%= t.label :amount %>
      <%= t.text_field :amount %> in pounds
      <% end %>
    <%= f.submit "Submit", class: "button radius grains" %>
  <% end %>
</div>
