<div class="row">
  <%= form_for @recipe, :remote => true do |f| %>
    <%= f.fields_for :list do |t| %>
      <h5>America</h5>
      <%= t.collection_select :us, Ingredient.where(type_class:"U.S."), :id, :name, include_blank: "Select" %>
      
      <h5>England</h5>
      <%= t.collection_select :england, Ingredient.where(type_class:"England"), :id, :name, include_blank: "Select" %>

      <h5>Australia</h5>
      <%= t.collection_select :australia, Ingredient.where(type_class:"Australia"), :id, :name, include_blank: "Select" %>

      <h5>Germany</h5>
      <%= t.collection_select :germany, Ingredient.where(type_class:"Germany"), :id, :name, include_blank: "Select" %>

      <h5>Czech Republic</h5>
      <%= t.collection_select :czech, Ingredient.where(type_class:"Czech Republic"), :id, :name, include_blank: "Select" %>

      <h5>Japan</h5>
      <%= t.collection_select :japan, Ingredient.where(type_class:"Japan"), :id, :name, include_blank: "Select" %>

      <h5>New Zealand</h5>
      <%= t.collection_select :nz, Ingredient.where(type_class:"New Zealand"), :id, :name, include_blank: "Select" %>

      <h5>Slovenia</h5>
      <%= t.collection_select :slovenia, Ingredient.where(type_class:"Slovenia"), :id, :name, include_blank: "Select" %>
      <%= t.label :hop_amount %>
      <%= t.text_field :hop_amount %> in pounds

      <%= f.submit "Submit", class: "button radius" %>
    <% end %>
  <% end %>
</div>

