<div class="maker-background"></div>
<div class="row not-home-page">
<table>
  <h3> Your Recipes </h3>
  <thead>
    <tr>
      <th width="200">Recipe name</th>
      <th width="100">Batch Size</th>
      <th width="100">Category</th>
      <th width="100">ABV</th>
      <th width="100">IBU</th>
      <th width="100">OG</th>
      <th width="100">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @user_recipes.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe.name, new_recipe_list_path(recipe.id) %>
        </td>
        <td><%= recipe.batch_size %> gallons </td>
        <td> abv</td>
        <td> ibu</td>
        <td> og</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">
  <table>
    <h3> Public Recipes </h3>
    <thead>
      <tr>
        <th width="200">Recipe name</th>
        <th width="200">Batch Size</th>
        <th width="100">ABV</th>
        <th width="100">IBU</th>
        <th width="100">OG</th>
      </tr>
    </thead>
    <tbody>
      <% @public_recipes.each do |recipe| %>
        <tr>
          <td>
            <%= link_to (recipe) do %>
              <%= recipe.name %>
            <% end %>
          </td>
          <td><%= recipe.batch_size%> gallons </td>
          <td>recipe.abv</td>
          <td> recipe.ibu</td>
          <td> recipe.og</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>