<div class="row">
  <h2>Build your recipe!</h2>
  <% if current_user %>
  <% unless @recipe.name != nil  %>
    <%= form_for [@recipe]  do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :batch_size %>
      <%= f.text_field :batch_size %>
      <%= f.submit "Add Recipe", class: "button radius" %>
    <% end %> 
  <% end %>
  <% else %>
    <h2> You must sign in to view this page! </h2>
  <% end %>
</div>